<div class="col-sm-8 offset-sm-2">
	<h2>About</h2>
	<p>Created by <a href="https://www.dan-foley.com">Dan Foley </a>via <a href="https://www.ruby-lang.org/en/">Ruby</a> + <a href="http://www.sinatrarb.com">Sinatra</a> using APIs from <a href="https://covidtracking.com/">The COVID Tracking Project</a> (from <em>The Atlantic</em>) and <a href="https://corona.lmao.ninja">Novel COVID API.</a></p>

	<a href="https://github.com/d-otis/rona-dash"><i class="fab fa-github fa-2x"></i></a>
	<a href="https://www.dan-foley.com"><i class="fas fa-link fa-2x"></i></a>
	<a href="https://www.linkedin.com/in/dan-foley-009aa7189/"><i class="fab fa-linkedin fa-2x"></i></a>
	<a href="https://open.spotify.com/playlist/7yuOPL2I1bx42ChgCpejtd?si=IpUWQma7SeK-S7dYgDaz2Q"><i class="fab fa-spotify fa-2x"></i></a>
	<a href="https://www.twiterr.com/dfolz"><i class="fab fa-twitter fa-2x"></i></a>
</div>